<div class="titles">
  <div class="vertex-out">{{ outVertex.title }}</div>
  <div class="vertex-in">{{ inVertex.title }}</div>
</div>
<div class="info">
  <div class="edge-vertex-preview{{#if outVertex.custom}} custom{{/if}}" style="background-image: url('{{ outVertex.image }}');"/>
  <span class="title">
    <span class="rel_title">{{ title }}</span>
    <div>
      <span class="date">{{#if timeSubtitle }}{{ timeSubtitle }}{{/if}}</span>
      <span class="source">{{#if subtitle }}{{ subtitle }}{{/if}}</span>
    </div>
  </span>
  <div class="edge-vertex-preview{{#if inVertex.custom}} custom{{/if}}" style="background-image: url('{{ inVertex.image }}');"/>
</div>
